# Sistema Operativo
.DS_Store
Thumbs.db
*.swp

# Entorno (compartido entre backend y frontend)
.env
.env.local
.env.*.local

# Dependencias
node_modules/
dist/
build/
.cache/

# Logs generales
*.log

# Archivos temporales
*.tmp
*.bak

# Archivos de respaldo
*~
